<input type="text" [(ngModel)]="pattern.name" />
<app-parameters-editor [parametersModel]="getParametersModel()" [entity]="pattern"></app-parameters-editor>

<!-- <select (change)="onChangeResource($event.target.value)">
  <option [value]="null">Empty</option>
  <option *ngFor="let resource of availableResources" [value]="resource">{{ resource.path }}</option>
</select> -->

<div *ngIf="pattern.audio.resource !== null">Audio: {{ pattern.audio.resource.path }}</div>

<select [(ngModel)]="pattern.audio.resource" (ngModelChange)="onChangeResource($event)">
  <option [ngValue]="null" [selected]="pattern.audio.resource === null">Empty</option>
  <option *ngFor="let resource of availableResources" [ngValue]="resource"
    [selected]="pattern.audio.resource !== null && pattern.audio.resource.path === resource.path">{{resource.path}}
  </option>
</select>
