<h1>Configuration</h1>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div *ngIf="configuration">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div>
      <label for="configuration-project-root">Projects folder</label>
      <input id="configuration-project-root" type="text" [(ngModel)]="configuration.projectsRoot" name="projectsRoot" required />
    </div>

    <button type="submit" [disabled]="form.invalid">Enregistrer</button>
  </form>
</div>

<button (click)="onClickCancel()">Cancel</button>
