<div>
  <span>
    <label [for]="getIdFor('step')">Steps:</label>
    <input [id]="getIdFor('step')" type="number" min="config.step.min" max="config.step.max" [(ngModel)]="model.timeSignature.step" />
  </span>
  <span>
    <label [for]="getIdFor('beat')">Beats:</label>
    <input [id]="getIdFor('beat')" type="number" min="config.beat.min" max="config.beat.max" [(ngModel)]="model.timeSignature.beat" />
  </span>
  <span>
    <label [for]="getIdFor('mesure')">Mesures:</label>
    <input [id]="getIdFor('mesure')" type="number" min="config.mesure.min" max="config.mesure.max" [(ngModel)]="model.timeSignature.mesure" />
  </span>
</div>
