<div *ngIf="pattern !== null">
  <h3>Pattern {{ pattern.num }} <span class="entity-id">({{ pattern.id }})</span></h3>
  <div>
    <button (click)="onClickPlay()">Play</button>
    <button (click)="onClickPause()">Pause</button>
    <button (click)="onClickStop()">Stop</button>
  </div>
  <div>
    <label [for]="makeIdFor('name')">Name</label>
    <input [id]="makeIdFor('name')" type="text" [(ngModel)]="pattern.name" />
  </div>
  <div>
  </div>
  <app-time-signature [model]="pattern" (changed)="onChangeTimeSignature()"></app-time-signature>
  <app-parameters-editor [parametersModel]="getParametersModel()" [entity]="pattern"></app-parameters-editor>
  <div>
    <div *ngFor="let patternAudioTrack of getPatterAudioTracks()">
      <div>
        <div>
          <span>{{ patternAudioTrack.num }}</span>
          <button (click)="onClickDecreaseNum(patternAudioTrack)">down</button>
          <button (click)="onClickIncreaseNum(patternAudioTrack)">up</button>
        </div>
        <div>
          <label [for]="makeIdForTrack(patternAudioTrack, 'armed')">Armed</label>
          <input [id]="makeIdForTrack(patternAudioTrack, 'armed')" type="checkbox"
            [(ngModel)]="patternAudioTrack.armed" />
        </div>
        <div *ngIf="getAudioTrack(patternAudioTrack) === null">Unfound track ({{ patternAudioTrack.trackId }})</div>
        <app-audio-track-editor [track]="getAudioTrack(patternAudioTrack)"></app-audio-track-editor>
        <button (click)="onClickRemoveAudioTrack(patternAudioTrack)">Remove</button>
      </div>
    </div>
  </div>
  <div>
    <button (click)="onClickAddAudioTrack()">Add track</button>
  </div>
</div>