/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body {
    font-size: 12px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}


.sequencer {
  background-color:lightgoldenrodyellow;
  margin: 0 0 1em;
  padding: 5px;
}


.project {
  padding: 5px;
  background-color:lightcyan;
  margin: 0 0 1em;
}
